.home-layout {
  display: flex;
  justify-content: space-around;
  height: 50px;
  background: black;
}

.home-layout-each {
  align-content: center;
}

.home-layout-each a {
  text-decoration: none;
  color: white;
  font-size: larger;
}
.home-layout-button{
  background: transparent !important;
  color: white;
  border: none !important;
  cursor: pointer !important;
  font-size: large !important;
}
